* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgba(51, 51, 51, 0.712);
    color: white;
    padding: 1rem 6rem;

    position: sticky; /* This makes the nav STICKY */
    top: 0px;

    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 10px;

    font-size: 1.5rem;
}

.nav-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
}

ul {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    list-style-type: none;
    display: none;
}

.links a {
    color: rgb(255, 194, 62);
    text-decoration: none;
}

.links a:hover {
    color: white;
}

.active a {
    color: rgb(255, 255, 255);
}

section {
    height: 100vh;
    color: rgb(255, 194, 62);
}

#home {
    background-color: rgb(146, 146, 146);
}

#news {
    background-color: rgb(104, 104, 104);
}

#contact {
    background-color: rgb(61, 61, 61);
}

#about {
    background-color: rgb(24, 24, 24);
}

.nav-toggle {
    font-size: 1.5rem;
    color: white;
    background: transparent;
    border-color: transparent;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.nav-toggle:hover {
    color: rgb(255, 194, 62);
    transform: rotate(90deg);
}

.show-links {
    display: unset;
}

@media screen and (min-width: 800px) {
    ul {
        display: unset;
        grid-column: 2 / 3;
        grid-row: span 1;
        text-align: right;
    }

    .nav-toggle {
        display: none;
    }
}
